#gameArea {
	background-color: #555;
	height: 800px;
}
.upgrades{
	background-color: #333;
	margin-top: 2%
}
.mainArea{
	background-color: #888;
	height: 600px;
	margin-top: 2%
}
.stats{
	background-color: #333;
	height: 600px;
	margin-top: 2%
}
.center{
	text-align: center;
}
.center>h2{
	color: #FFF;
}
.center>h4{
	color: #FFF;
}
.center>h6{
	color: #FFF;
}
.padd{
	margin-top: 5%;
}